<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Layouts</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <h1>Plan</h1>
        <nav><a href="index.html">Layout 1</a> 
            <a href="page2.html">Layout 2</a> 
            <a href="page3.html">Layout 3 </a>
            </nav>
        <img src="wireframe1.png" alt="wireframe">

    </div>
    <div class="container">
        <div class="header">
                <img src="image.png" alt="image" style=" height:80px; width:150px; float:right;">
                <h1 style="text-align:left;">Site Title</h1>
                
                
           <nav><a style="background: gray;" href="index.html">Site 1</a> 
                <a style="background: gray;" href="page2.html">Site 2</a> 
                <a style="background: gray;" href="page3.html">Site 3 </a> </nav>
                
            
                </div>
        <div class="aside">
            <h2>Aside</h2>
        </div>
        <div class="main">
            <h2>Section</h2>
        </div>
        <div class="main">
            <h2>Section</h2>
        </div>
        
        <div class="footer">
            <nav style="padding-top: 60px;"><a href="index.html">Site 1</a> |
                <a href="page2.html">Site 2</a> |
                <a href="page3.html">Site 3 </a>
                </nav>
        </div>
    </div>
</body>

</html>